`AND` va `OR` kalit so'zlari haqida gaplashamiz:

Bizda quyidagi jadval bor:

In [ ]:
example_db=# SELECT * FROM my_contacts;
 first_name |  last_name   | birthdate  | profession |       interests
------------+--------------+------------+------------+-----------------------
 Shahboz    | Shirinboyev  | 1999-12-03 | Designer   | Coding, Reading books
 Navroz     | Abdumurodov  | 1999-03-21 | quruvchi   | eating
 Javohir    | Abdurashidov | 1999-03-21 | quruvchi   | eating
 Umid       | Murodov      | 1998-12-08 | doctor     | Reading
 Jahongir   | Otajonov     | 1978-10-05 | doctor     | Cooking
(5 rows)


example_db=#

faqat `profession='quruvchi'` bo'lganlarni ajratib olamiz:

`SELECT * FROM my_contacts WHERE profession = 'quruvchi';`

In [ ]:
example_db=# SELECT * FROM my_contacts WHERE profession = 'quruvchi';
 first_name |  last_name   | birthdate  | profession | interests
------------+--------------+------------+------------+-----------
 Navroz     | Abdumurodov  | 1999-03-21 | quruvchi   | eating
 Javohir    | Abdurashidov | 1999-03-21 | quruvchi   | eating
(2 rows)


example_db=#

endi faqat `profession='doctor'` bo'lganlarni ajratib olamiz:

`SELECT * FROM my_contacts WHERE profession = 'doctor';`

In [ ]:
example_db=# SELECT * FROM my_contacts WHERE profession = 'doctor';
 first_name | last_name | birthdate  | profession | interests
------------+-----------+------------+------------+-----------
 Umid       | Murodov   | 1998-12-08 | doctor     | Reading
 Jahongir   | Otajonov  | 1978-10-05 | doctor     | Cooking
(2 rows)

Ana endi shu ikki jadvalni qanday qilib birlashtirish haqida gaplashamiz. Buning uchun bizga `OR` kalit so'zi kerak bo'ladi.

`SELECT * FROM my_contacts WHERE profession = 'doctor' OR profession = 'quruvchi';`

In [ ]:
example_db=# SELECT * FROM my_contacts WHERE profession = 'doctor' OR profession = 'quruvchi';
 first_name |  last_name   | birthdate  | profession | interests
------------+--------------+------------+------------+-----------
 Navroz     | Abdumurodov  | 1999-03-21 | quruvchi   | eating
 Javohir    | Abdurashidov | 1999-03-21 | quruvchi   | eating
 Umid       | Murodov      | 1998-12-08 | doctor     | Reading
 Jahongir   | Otajonov     | 1978-10-05 | doctor     | Cooking
(4 rows)


example_db=#

Yana boshqa misol ko'ramiz:

In [ ]:
example_db=# SELECT * FROM my_contacts WHERE interests = 'eating' OR birthdate > '1999-01-01';
 first_name |  last_name   | birthdate  | profession |       interests
------------+--------------+------------+------------+-----------------------
 Shahboz    | Shirinboyev  | 1999-12-03 | Designer   | Coding, Reading books
 Navroz     | Abdumurodov  | 1999-03-21 | quruvchi   | eating
 Javohir    | Abdurashidov | 1999-03-21 | quruvchi   | eating
(3 rows)


example_db=#

Agar bizga profession'ni doctor bo'lgan va tug'ulgan yili 1992 dan kichik bo'lgan insonlarni saralab olishimiz kerak bo'lsa: (bunda `AND` kalit so'zidan foydalanamiz.)

`SELECT * FROM my_contacts WHERE profession = 'doctor' AND birthdate < '1992-01-01';`

In [ ]:
example_db=# SELECT * FROM my_contacts WHERE profession = 'doctor' AND birthdate < '1992-01-01';
 first_name | last_name | birthdate  | profession | interests
------------+-----------+------------+------------+-----------
 Jahongir   | Otajonov  | 1978-10-05 | doctor     | Cooking
(1 row)


example_db=#