`MA'LUMOTLARNI YANGILASH`

Quyidagi jadval bor bizda:

In [ ]:
example_db=# SELECT * FROM my_contacts;
 first_name |  last_name   | birthdate  | profession |       interests
------------+--------------+------------+------------+-----------------------
 Shahboz    | Shirinboyev  | 1999-12-03 | Designer   | Coding, Reading books
 Navroz     | Abdumurodov  | 1999-03-21 | quruvchi   | eating
 Javohir    | Abdurashidov | 1999-03-21 | quruvchi   | eating
 Umid       | Murodov      | 1998-12-08 | doctor     | Reading
 Jahongir   | Otajonov     | 1978-10-05 | doctor     | Cooking
 Amirxon    | Umarov       |            |            |
 Dilya      | Neymatova    |            |            | Coding
 Tom        | Caliny       | 1960-12-23 | designer   | voleyball
 Tim        | Kalith       | 1980-11-11 | driver     | tenis
(9 rows)


example_db=#

Undagi `Amirxon Umarov` va `Dilya Neymatova`larning ba'zi ma'lumotlari yo'q va biz bu ma'lumotlarni to'ldirib ko'ramiz:

`UPDATE`

`UPDATE my_contacts SET interests = 'eating' WHERE first_name = 'Amirxon';`

In [ ]:
example_db=# UPDATE my_contacts SET interests = 'eating' WHERE first_name = 'Amirxon';
UPDATE 1
example_db=#

Jadvalni qaytadan ko'radigan bo'lsak:

In [ ]:
example_db=# SELECT * FROM my_contacts;
 first_name |  last_name   | birthdate  | profession |       interests
------------+--------------+------------+------------+-----------------------
 Shahboz    | Shirinboyev  | 1999-12-03 | Designer   | Coding, Reading books
 Navroz     | Abdumurodov  | 1999-03-21 | quruvchi   | eating
 Javohir    | Abdurashidov | 1999-03-21 | quruvchi   | eating
 Umid       | Murodov      | 1998-12-08 | doctor     | Reading
 Jahongir   | Otajonov     | 1978-10-05 | doctor     | Cooking
 Dilya      | Neymatova    |            |            | Coding
 Tom        | Caliny       | 1960-12-23 | designer   | voleyball
 Tim        | Kalith       | 1980-11-11 | driver     | tenis
 Amirxon    | Umarov       |            |            | eating
(9 rows)


example_db=#

Keling endi o'sha `Amirxon Umarov`ning barcha ma'lumotlarni kirgizib to'ldiramiz:
jadvalga qaraydigan bo'lsak `birthdate` va `profession` ma'lumotlari yo'q, shularni to'ldiramiz:

In [ ]:
example_db=# UPDATE my_contacts SET birthdate = '1998-12-28', profession = 'electric' WHERE first_name = 'Amirxon';
UPDATE 1
example_db=#

Jadvalni qayta ko'ramiz:

In [ ]:
example_db=# SELECT * FROM my_contacts;
 first_name |  last_name   | birthdate  | profession |       interests
------------+--------------+------------+------------+-----------------------
 Shahboz    | Shirinboyev  | 1999-12-03 | Designer   | Coding, Reading books
 Navroz     | Abdumurodov  | 1999-03-21 | quruvchi   | eating
 Javohir    | Abdurashidov | 1999-03-21 | quruvchi   | eating
 Umid       | Murodov      | 1998-12-08 | doctor     | Reading
 Jahongir   | Otajonov     | 1978-10-05 | doctor     | Cooking
 Dilya      | Neymatova    |            |            | Coding
 Tom        | Caliny       | 1960-12-23 | designer   | voleyball
 Tim        | Kalith       | 1980-11-11 | driver     | tenis
 Amirxon    | Umarov       | 1998-12-28 | electric   | eating
(9 rows)


example_db=#

Jadvalga qaraydigan bo'lsa `Dilya` ismli shaxsni ham `birthdate` va `profession` qiymatlari `null` qiymatda, ularni ham kerakli ma'lumotlar bilan to'ldiramiz.

In [ ]:
example_db=# UPDATE my_contacts SET birthdate = '2002-05-12', profession = 'modeller' WHERE first_name = 'Dilya';
UPDATE 1
example_db=#

Jadvalni ko'ramiz:

In [ ]:
example_db=# SELECT * FROM my_contacts;
 first_name |  last_name   | birthdate  | profession |       interests
------------+--------------+------------+------------+-----------------------
 Shahboz    | Shirinboyev  | 1999-12-03 | Designer   | Coding, Reading books
 Navroz     | Abdumurodov  | 1999-03-21 | quruvchi   | eating
 Javohir    | Abdurashidov | 1999-03-21 | quruvchi   | eating
 Umid       | Murodov      | 1998-12-08 | doctor     | Reading
 Jahongir   | Otajonov     | 1978-10-05 | doctor     | Cooking
 Tom        | Caliny       | 1960-12-23 | designer   | voleyball
 Tim        | Kalith       | 1980-11-11 | driver     | tenis
 Amirxon    | Umarov       | 1998-12-28 | electric   | eating
 Dilya      | Neymatova    | 2002-05-12 | modeller   | Coding
(9 rows)


example_db=#

Bu `UPDATE` va `SET`larni ishlatayotganimizda xuddi `DELETE` kabi juda ehtiyotkor bo'lishimiz kerak va `WHERE` qismini aniqlik bilan kirtishimiz kerak, bo'lmasa bir nechta qatorlarni ma'lumotlarni bilmagan holda o'zgartirib qo'yishimiz mumkin.

`WHERE` qismini yodimizdan chiqarib qo'ysak qanday bo'ladi: Bu uchun misol ko'ramiz:

Bizda yangi ro'yxat bor:

In [ ]:
example_db=# SELECT * FROM doughnut_list;
  name  |  type  | price
--------+--------+-------
 Apple  | filled |  3.00
 Cherry | filled |  1.00
 Mazza  | cermy  |  5.67
 Edge   | oily   |  6.37
(4 rows)


example_db=#

Quyidagi qatorni `postgres`'ga kiritamiz:

`UPDATE doughnut_list SET price = 3` deya WHERE qismini yozmaymiz.

In [ ]:
example_db=# UPDATE doughnut_list SET price = 3;
UPDATE 4
example_db=#

Natijani ko'ramiz:

In [ ]:
example_db=# SELECT * FROM doughnut_list;
  name  |  type  | price
--------+--------+-------
 Apple  | filled |  3.00
 Cherry | filled |  3.00
 Mazza  | cermy  |  3.00
 Edge   | oily   |  3.00
(4 rows)


example_db=#

Ko'rishimiz mumkin barcha qatorlardagi narxlar bir xil bo'lib qoldi, xuddi `DELETE`'da WHERE qismini unutib qo'ysak jadvaldagi barcha ma'lumotlarni o'chirib tashlagandek.

Agar `name`'i 'Apple' bo'lgan qatorni barcha ma'lumotlarini bir yo'lda yangilash ya'ni ma'lumot kiritishimiz mumkin.

`UPDATE doughnut_list SET type = 'sweet', price = 5.00 WHERE name = 'Apple'`

In [ ]:
example_db=# UPDATE doughnut_list SET type = 'sweet', price = 5.00 WHERE name = 'Apple';
UPDATE 1
example_db=#

Natija:

In [ ]:
example_db=# SELECT * FROM doughnut_list;
  name  |  type  | price
--------+--------+-------
 Cherry | filled |  3.00
 Mazza  | cermy  |  3.00
 Edge   | oily   |  3.00
 Apple  | sweet  |  5.00
(4 rows)


example_db=#