`MA'LUMOTLARNI KIRITISH` (Insert)

In [ ]:
# `TABLE` yaratib olamiz:

CREATE TABLE my_contacts
(
  first_name VARCHAR(50),
  last_name VARCHAR(50),
  birthdate DATE,
  profession VARCHAR(60),
  interests VARCHAR(100)
);

`INSERT INTO table_nomi (ustun1, ustun2, ...) VALUES (qiymat1, qiymat2, ...);`

example_db=# \d my_contacts
                      Table "public.my_contacts"
   Column   |          Type          | Collation | Nullable | Default
------------+------------------------+-----------+----------+---------
 first_name | character varying(50)  |           |          |
 last_name  | character varying(50)  |           |          |
 birthdate  | date                   |           |          |
 profession | character varying(60)  |           |          |
 interests  | character varying(100) |           |          |


example_db=# INSERT INTO my_contacts (first_name, last_name, birthdate, profession, interests)
example_db-# VALUES ('Shahboz', 'Shirinboyev', '1999-12-03', 'Designer', 'Coding, Reading books');
INSERT 0 1
example_db=#

`pgAdmin` - dasturi orqali kiritgan ma'lumotlarimizni ko'rishimiz mumkin.

![alt text](view_table.png)

Ma'lumotlarni kiritishda `ko'p takrorlanadigan xatolar`:

- Columnlar soni valueslar sonidan ko'proq
- Valueslar soni columnlar sonidan ko'proq
- Missing comma
- Missing quotes

Insert qilishning `turli usullari`:

- Columnlarning tartibi
  - `INSERT INTO table_nomi (ustun1, ustun2, ...) VALUES (qiymat1, qiymat2, ...);`

- Column nomlarini umuman tushirib qoldirish
  - `INSERT INTO table_nomi VALUES (qiymat1, qiymat2, ...);`

- Ba'zi bir column npmlarini tushirib qoldirish
  - `INSERT INTO my_contacts (first_name, last_name) VALUES ('Shahboz', 'Shirinboyev');`