`MA'LUMOTLARNI O'CHIRISH`

Bizda quyidagi jadval bor:

In [ ]:
example_db=# SELECT * FROM my_contacts;
 first_name |  last_name   | birthdate  | profession |       interests
------------+--------------+------------+------------+-----------------------
 Shahboz    | Shirinboyev  | 1999-12-03 | Designer   | Coding, Reading books
 Navroz     | Abdumurodov  | 1999-03-21 | quruvchi   | eating
 Javohir    | Abdurashidov | 1999-03-21 | quruvchi   | eating
 Umid       | Murodov      | 1998-12-08 | doctor     | Reading
 Jahongir   | Otajonov     | 1978-10-05 | doctor     | Cooking
 Amirxon    | Umarov       |            |            |
 Hayotxon   | Jalilov      |            |            |
 Dilya      | Neymatova    |            |            | Coding
 Tom        | Caliny       | 1960-12-23 | designer   | voleyball
 Tim        | Kalith       | 1980-11-11 | driver     | tenis
(10 rows)


example_db=#

Biz yuqoridagi jadvaldan `Hayotxon Jalilov`ni o'chirmoqchimiz: Unda quyidagicha ish tutamiz:

`DELETE FROM my_contacts WHERE first_name = 'Hayotxon';`

Natija:

In [ ]:
example_db=# DELETE FROM my_contacts WHERE first_name = 'Hayotxon';
DELETE 1
example_db=#

Qatorning har qanday ustun ma'lumoti orqali o'chirish imkoni bor.

Bir xil `first_name`ga ega 2 xil shaxs bo'ladigan bo'lsa uni boshqa ma'lumotlari orqali aniqlashtirishimiz mumkin: 

`last_name`, `birthdate`, `profession`, `interests`

`DELETE FROM my_contacts WHERE first_name = 'Hayotxon' AND last_name = 'Jalilov';`

Ma'lumotlar bor jadvaldan biron qiymatga teng qatorni o'chirayotganimizda juda ehtiyot bo'lishimiz kerak ba'zida bir xil qiymatga teng qatorlar bo'ladi, shu sabab avval ularni `SELECT` qilib biz o'chirmoqchi bo'lgan ma'lumotlarni ko'rib olishimkoniyati bor.

Jadvaldagi barcha ma'lumotlarni o'chirish:

`DELETE FROM example_table;`