Bu darsda ba'zi `SELECT`'ga qo'shib foydalaniladigan `kalit so'zlar`ni ko'rib chiqamiz, ular yordamida jadvallardagi ma'lumotlarni yanada aniqroq ravishda olishimiz mumkin bo'ladi.

`ORDER BY`

Bu kalit so'z orqali biz jadvaldagi ma'lumotlarni ma'lum bir tartib asosida chiqarishimiz mumkin bo'ladi.

Oddiy yo'l bilan jadvalni ekranga chaqiradigan bo'lsak narxlar ttartibsiz ravishda chiqganligini ko'rishimiz mumkin:

In [ ]:
example_db=# SELECT * FROM doughnut_list;
  name  |  type  | price
--------+--------+-------
 Cherry | filled |  3.00
 Apple  | sweet  |  5.00
 Mazza  | cermy  |  1.23
 Edge   | sweet  |  4.30
(4 rows)


example_db=#

Keling shu narxlarni ma'lum tartib asosida chiqaramiz:

`SELECT * FROM doughnut_list ORDER BY price;`

In [ ]:
example_db=# SELECT * FROM doughnut_list ORDER BY price;
  name  |  type  | price
--------+--------+-------
 Mazza  | cermy  |  1.23
 Cherry | filled |  3.00
 Edge   | sweet  |  4.30
 Apple  | sweet  |  5.00
(4 rows)


example_db=#

Natijani ko'rib turibmiz narxlar kichik qiymatdan katta qiymatga qarab o'sib borgan.

Boshqacharoq usulda tartiblashni xoxlab qolsak, masalan `type` bo'yicha bo'lsa, ya'ni type ustunidagi so'zlarni bosh harflarini alifbo tartibida qilib `sort` qilib beradi.

`SELECT * FROM doughnut_list ORDER BY type;`

In [ ]:
example_db=# SELECT * FROM doughnut_list ORDER BY type;
  name  |  type  | price
--------+--------+-------
 Mazza  | cermy  |  1.23
 Cherry | filled |  3.00
 Apple  | sweet  |  5.00
 Edge   | sweet  |  4.30
(4 rows)


example_db=#

Agar bizga narxlar `ORDER BY` dagi kabi kichigidan kattasiga emas teskari ravishda chiqishi kerak bo'lsa unda biz `ORDER BY ... DESC` dan foydalanishimiz mumkin.

In [ ]:
example_db=# SELECT * FROM doughnut_list ORDER BY price DESC;
  name  |  type  | price
--------+--------+-------
 Apple  | sweet  |  5.00
 Edge   | sweet  |  4.30
 Cherry | filled |  3.00
 Mazza  | cermy  |  1.23
(4 rows)


example_db=#

DESC - Descending

`SUM`

Vazifa sifatida qarasak: bizga endi yuqoridagi `doughnut_list` ichidagi barcha `doughnut`'larni qiymatlarini (narxlarini) yig'indisi kerak:

`SELECT SUM(price) FROM doughnut_list;`

In [ ]:
example_db=# SELECT SUM(price) FROM doughnut_list;
  sum
-------
 13.53
(1 row)


example_db=#

`MIN` - columndagi eng kichik qiymatni chiqarib beradi

`SELECT MIN(price) FROM doughnut_list;`

In [ ]:
example_db=# SELECT * FROM doughnut_list;
  name  |  type  | price
--------+--------+-------
 Cherry | filled |  3.00
 Apple  | sweet  |  5.00
 Mazza  | cermy  |  1.23
 Edge   | sweet  |  4.30
(4 rows)


example_db=#

In [ ]:
example_db=# SELECT MIN(price) FROM doughnut_list;
 min
------
 1.23
(1 row)

`MAX` - columndagi eng katta qiymatni chiqarib beradi

`SELECT MAX(price) FROM doughnut_list;`

In [ ]:
example_db=# SELECT MAX(price) FROM doughnut_list;
 max
------
 5.00
(1 row)

`AVG` - o'rtacha qiymatni topish uchun ishlatilinadi.

`SELECT AVG(price) FROM doughnut_list;`

In [ ]:
example_db=# SELECT AVG(price) FROM doughnut_list;
        avg
--------------------
 3.3825000000000000
(1 row)


example_db=#

Nechta qiymat bo'lsa `column`da barcha qiymatlarni qo'shib, ularni soniga bo'lib natijani chiqarib beradi.

`COUNT` - Jadvalda nechta qator ma'lumot borligini sanamoqchi bo'lsak ishlatilinadi.

`SELECT COUNT(name) FROM doughnut_list;`

In [ ]:
example_db=# SELECT COUNT(name) FROM doughnut_list;
 count
-------
     4
(1 row)

`COUNT(*)`, `COUNT(name)`, `COUNT(price)` - bularning farqi yo'q count uchun,

Jadvalga yana ma'lumotlar qo'shib olamiz:

In [ ]:
example_db=# SELECT * FROM doughnut_list;
  name  |  type  | price
--------+--------+-------
 Cherry | filled |  3.00
 Apple  | sweet  |  5.00
 Mazza  | cermy  |  1.23
 Edge   | sweet  |  4.30
 Peach  | cermy  |  2.78
 Granty | filled |  4.65
(6 rows)


example_db=#

Ana endi type bo'yicha maximal narxni topish uchun quyidagicha qilamiz:

`GROUP BY` - biron tur bo'yicha boshqa qiymatni saralash.

`SELECT MIN(price) FROM doughnut_list GROUP BY type;`

In [ ]:
example_db=# SELECT MIN(price) FROM doughnut_list GROUP BY type;
 min
------
 3.00
 4.30
 1.23
(3 rows)


example_db=#

Chiqayotgan jadvalni yanada aniqroq qilish uchun `type`'ni ham `SELECT` qilib olaman.

`SELECT type, MIN(price) FROM doughnut_list GROUP BY type;`

In [ ]:
example_db=# SELECT type, MIN(price) FROM doughnut_list GROUP BY type;
  type  | min
--------+------
 filled | 3.00
 sweet  | 4.30
 cermy  | 1.23
(3 rows)


example_db=#

`SELECT type, MAX(price) FROM doughnut_list GROUP BY type;`

In [ ]:
example_db=# SELECT type, MAX(price) FROM doughnut_list GROUP BY type;
  type  | max
--------+------
 filled | 4.65
 sweet  | 5.00
 cermy  | 2.78
(3 rows)


example_db=#

Misol:

In [ ]:
example_db=# SELECT type, COUNT(*) FROM doughnut_list GROUP BY type;
  type  | count
--------+-------
 filled |     2
 sweet  |     2
 cermy  |     2
(3 rows)


example_db=#

`DISTINCT` - takrorlanishsiz qtorlarni chiqarish.

1. Takrorlanishga ega bo'lganini chiqarish:

`SELECT type FROM doughtnut_list;`

In [ ]:
example_db=# SELECT type FROM doughnut_list;
  type
--------
 filled
 sweet
 cermy
 sweet
 cermy
 filled
(6 rows)


example_db=#

Takrorlanishlarni o'chirish uchun:

`SELECT DISTINCT type FROM doughnut_list;`

In [ ]:
example_db=# SELECT DISTINCT type FROM doughnut_list;
  type
--------
 filled
 sweet
 cermy
(3 rows)


example_db=#

`Column`'dagi takrorlanmaydigan miqdorlarni chiqarish uchun ishlatilinadi.

`LIMIT`

Bizda quyidagi jadval bor:

In [ ]:
example_db=# SELECT * FROM doughnut_list;
  name  |  type  | price
--------+--------+-------
 Cherry | filled |  3.00
 Apple  | sweet  |  5.00
 Mazza  | cermy  |  1.23
 Edge   | sweet  |  4.30
 Peach  | cermy  |  2.78
 Granty | filled |  4.65
(6 rows)


example_db=#

Narx bo'yicha saralaydigan bo'lsak: (birinchi yuqori narxlar)

In [ ]:
example_db=# SELECT * FROM doughnut_list ORDER BY price DESC;
  name  |  type  | price
--------+--------+-------
 Apple  | sweet  |  5.00
 Granty | filled |  4.65
 Edge   | sweet  |  4.30
 Cherry | filled |  3.00
 Peach  | cermy  |  2.78
 Mazza  | cermy  |  1.23
(6 rows)


example_db=#

Eng katta narxga ega bo'lgan qatorlarni 2 tasini chiqarmoqchi bo'lsak yuqoridagi komadda uchun `LIMIT` qo'yamiz:

`SELECT * FROM doughnut_list ORDER BY price DESC LIMIT 2;`

In [ ]:
example_db=# SELECT * FROM doughnut_list ORDER BY price DESC LIMIT 2;
  name  |  type  | price
--------+--------+-------
 Apple  | sweet  |  5.00
 Granty | filled |  4.65
(2 rows)


example_db=#

Shunchaki jadvalni boshidan 3 ta qiymatni chiqarmoqchi bo'lsak:

`SELECT * FROM doughnut_list LIMIt 3;`

In [ ]:
example_db=# SELECT * FROM doughnut_list LIMIT 3;
  name  |  type  | price
--------+--------+-------
 Cherry | filled |  3.00
 Apple  | sweet  |  5.00
 Mazza  | cermy  |  1.23
(3 rows)


example_db=#