`To'g'ri dizayn qilish qoidalari:`

- Primary key qo'shish
  - Jadvalimizdagi har bitta qatorda takrorlanmaydigan bitta qiymat bo'lishi kerak. (ID) Biz o'sha qiymat orqali istalgan qatorimizni tanlab olish imkoniyatiga ega bo'lamiz.


Biz o'zimiz yaratgan jadvalni ko'rib chiqsak:

In [ ]:
example_db=# SELECT * FROM my_contacts;
 first_name |  last_name   | birthdate  | profession |       interests
------------+--------------+------------+------------+-----------------------
 Shahboz    | Shirinboyev  | 1999-12-03 | Designer   | Coding, Reading books
 Navroz     | Abdumurodov  | 1999-03-21 | quruvchi   | eating
 Javohir    | Abdurashidov | 1999-03-21 | quruvchi   | eating
 Umid       | Murodov      | 1998-12-08 | doctor     | Reading
 Jahongir   | Otajonov     | 1978-10-05 | doctor     | Cooking
 Tom        | Caliny       | 1960-12-23 | designer   | voleyball
 Tim        | Kalith       | 1980-11-11 | driver     | tenis
 Amirxon    | Umarov       | 1998-12-28 | electric   | eating
 Dilya      | Neymatova    | 2002-05-12 | modeller   | Coding
(9 rows)


example_db=#

Yuqoridagi jadvalimizga qarasak hech bir `column`'ni unikal deya olmaymiz. Demak bu jadval noto'g'ri dizayn qilingan, uni to'g'irlashning eng birinchi usuli jadvalga unikal (takrorlanmaydigan) qiymat qo'shish.

`PRIMARY KEY`

Jadval yaratishda biron yoki `maxsus` column uchun `PRIMARY KEY` o'rnatish orqali bu takrorlanmaydigan qiymatga ega qatorlarni yaratib olishimiz mumkin, va bu `PRIMARY KEY` qiymatiga ega bo'lgan qatorlarga ma'lumotni boshqa qatorlarda bor ma'lumot bilan takrorlab bo'lmaydi. Misol uchun shunday jadval yaratib ma'lumot kiritib ko'ramiz:

In [ ]:
example_db=# CREATE TABLE orders
example_db-# (
example_db(#    order_id INT PRIMARY KEY,
example_db(#    order_name VARCHAR(50)
example_db(# );
CREATE TABLE
example_db=#

Jadvalni yaratib olamiz, endi unga ma'lumot kirgazib ko'ramiz:

In [ ]:
example_db=# INSERT INTO orders VALUES (1, 'first order');
INSERT 0 1
example_db=# INSERT INTO orders VALUES (2, 'second order');
INSERT 0 1
example_db=# INSERT INTO orders VALUES (3, 'third order');
INSERT 0 1
example_db=#

3 qator ma'lumot kiritdik, o'shani endi jadval ko'rinishida chiqaramiz:

In [ ]:
example_db=# SELECT * FROM orders;
 order_id |  order_name
----------+--------------
        1 | first order
        2 | second order
        3 | third order
(3 rows)


example_db=#

Keling yana bir qator ma'lumot kiritamiz va `order_id`'ni takrorlamoqchi bo'lib ko'ramiz:

`INSERT INTO orders VALUES (2, 'fourth order');`

In [ ]:
example_db=# INSERT INTO orders VALUES (2, 'fourth order');
ERROR:  duplicate key value violates unique constraint "orders_pkey"
DETAIL:  Key (order_id)=(2) already exists.
example_db=#

Demak, yuqoidagi xatolikga e'tibor beradigan bo'lsak:

`ERROR:  duplicate key value violates unique constraint "orders_pkey"` 

Demak `order_id` bu har bir qatorning `id`'si hisoblanib uni takrorlash mumkin emas ekan. Bu bizga jadvallarimizdagi ma'lumotlarni oson boshqarish uchun qo'l keladi va bu jadvalni to'g'ri dizayn qilishning asosi hisoblanadi.

`PRIMARY KEY` - kalit so'zi berilgan ustunni postgresql unikal(takrorlanmas) saqlab turishga kaafolat berayapti. Agar siz ustundagi ma'lumotlarni takrorlashga urunsangiz, u xatolik xabarini chiqaradi va bundan sizni ogohlantiradi.

Biz bunaqa qilib `order_id`'larni xotiramizda saqlab qolib har safar yana qayta uni esalb keyingisi necha edi deyishimiz juda katta noqulaylik, shu sabab postgresql'da table yaratishda unga unikal va avto to'ldirishi kerakliligini aytadigan bo'lsak postgresql o'zi avtomatik ravishda kiritib ketaveradi:

Shunday table yaratib ko'ramiz:

In [ ]:
example_db=# CREATE TABLE order_two
example_db-# (
example_db(#    order_id SERIAL PRIMARY KEY,
example_db(#    order_name VARCHAR(50)
example_db(# );
CREATE TABLE
example_db=#

Endi ma'lumot kiritib ko'ramiz:

In [ ]:
example_db=# INSERT INTO order_two (order_name) VALUES ('first order');
INSERT 0 1
example_db=# INSERT INTO order_two (order_name) VALUES ('second order');
INSERT 0 1
example_db=#

Natijasini jadval ko'rinishida chiqarib ko'ramiz:

In [ ]:
example_db=# SELECT * FROM order_two;
 order_id |  order_name
----------+--------------
        1 | first order
        2 | second order
(2 rows)


example_db=#

INT emas `SERIAL` deb kiritadigan bo'lsak postgresql'ni o'zi avtomatik ravishda to'ldirib boradigan va takrorlanmaydigan qilib boradi.