`SELECT`

Bu mavzuda biz, ma'lumotlarni chiqarishni ko'rib chiqamiz, `pgAdmin` dasturi orqali tablelardagi ma'lumotlarni ko'rayotgan edik va bu dastur quydagi amalni bajarib ma'lumotlarnini bizga taqdim etayotgan edi:

In [ ]:
SELECT * FROM public.doughnut_list

Terminal orqali biron tabledagi ma'lumotlarni ko'rish uchun quyidagi qatorni terminalga kiritishimiz kerak:

In [ ]:
SELECT * FROM my_contacts;

Natija quyidagi ko'rinishda bo'ladi.

In [ ]:
example_db=# SELECT * FROM my_contacts;
 first_name |  last_name  | birthdate  | profession |       interests
------------+-------------+------------+------------+-----------------------
 Shahboz    | Shirinboyev | 1999-12-03 | Designer   | Coding, Reading books
 Umid       | Murodov     |            |            |
 JAhongir   | Otajonov    |            |            |
(3 rows)

example_db=#

Odatda bunday jadvallardagi ma'lumotlar juda katta bo'ladi va bizga kerakli qisminigina ko'rishimiz kerak bo'ladi: Bunday holatda `SELECT` so'rovlarini biroz o'zgartiramiz:

In [ ]:
SELECT * FROM my_contacts WHERE firts_name = 'Shahboz';

Natija:

In [ ]:
example_db=# SELECT * FROM my_contacts WHERE first_name = 'Shahboz';
 first_name |  last_name  | birthdate  | profession |       interests
------------+-------------+------------+------------+-----------------------
 Shahboz    | Shirinboyev | 1999-12-03 | Designer   | Coding, Reading books
(1 row)


example_db=#

`profession` bo'yicha saralab ko'ramiz, men 2 ta qator qo'shdim professionni `quruvchi` bo'lgan va ularni chaqirdim:

In [ ]:
example_db=# SELECT * FROM my_contacts;
 first_name |  last_name   | birthdate  | profession |       interests
------------+--------------+------------+------------+-----------------------
 Shahboz    | Shirinboyev  | 1999-12-03 | Designer   | Coding, Reading books
 Umid       | Murodov      |            |            |
 JAhongir   | Otajonov     |            |            |
 Navroz     | Abdumurodov  | 1999-03-21 | quruvchi   | eating
 Javohir    | Abdurashidov | 1999-03-21 | quruvchi   | eating
(5 rows)


example_db=# SELECT * FROM my_contacts WHERE profession='quruvchi';
 first_name |  last_name   | birthdate  | profession | interests
------------+--------------+------------+------------+-----------
 Navroz     | Abdumurodov  | 1999-03-21 | quruvchi   | eating
 Javohir    | Abdurashidov | 1999-03-21 | quruvchi   | eating
(2 rows)


example_db=#

Boshqa jadval bilan shu amallarni bajarib ko'ramiz:

In [ ]:
example_db=# SELECT * FROM doughnut_list;
  name  |  type  | price
--------+--------+-------
 Apple  | filled |  3.00
 Cherry | filled |  1.00
(2 rows)


example_db=# SELECT * FROM doughnut_list WHERE price = 1.00;
  name  |  type  | price
--------+--------+-------
 Cherry | filled |  1.00
(1 row)

`SELECT * FROM doughnut_list WHERE price = 1.00;` - bu qator kommandadagi `*` o'zi nima?

`*` - ma'nosi bu hamma column'lar degani. Ya'ni jadvalda nechta column bo'lsa hammasi.

Agar jadvaldan bizga ma'lum bir `column`'largina kerak bo'lsa, ularni `*` o'rniga yozishimiz mumkin bo'ladi:

`SELECT first_name, last_name FROM my_contacts;`

In [ ]:
example_db=# SELECT first_name, last_name FROM my_contacts;
 first_name |  last_name
------------+--------------
 Shahboz    | Shirinboyev
 Umid       | Murodov
 JAhongir   | Otajonov
 Navroz     | Abdumurodov
 Javohir    | Abdurashidov
(5 rows)


example_db=#

Boshqacha tartibda chiqarish saralangan ma'lumotlarni:

`SELECT first_name, birthdate FROM my_contacts WHERE profession='quruvchi';`

In [ ]:
example_db=# SELECT * FROM my_contacts;
 first_name |  last_name   | birthdate  | profession |       interests
------------+--------------+------------+------------+-----------------------
 Shahboz    | Shirinboyev  | 1999-12-03 | Designer   | Coding, Reading books
 Umid       | Murodov      |            |            |
 JAhongir   | Otajonov     |            |            |
 Navroz     | Abdumurodov  | 1999-03-21 | quruvchi   | eating
 Javohir    | Abdurashidov | 1999-03-21 | quruvchi   | eating
(5 rows)


example_db=# SELECT first_name, birthdate FROM my_contacts WHERE profession='quruvchi';
 first_name | birthdate
------------+------------
 Navroz     | 1999-03-21
 Javohir    | 1999-03-21
(2 rows)


example_db=#