`Solishtirish (Tenglashtirish) operatorlari.`

`SELECT * FROM doughnut_list WHERE price = 1.00'`

Yuqoridagi misolda `=` belgisi bu tenglashtirish operatori bo'ladi.

In [ ]:
example_db=# SELECT * FROM doughnut_list WHERE price = 1.00;
  name  |  type  | price
--------+--------+-------
 Cherry | filled |  1.00
(1 row)

`!=` - teng bo'lmagan qiymatlarni saralash:

In [ ]:
example_db=# INSERT INTO doughnut_list VALUES ('Mazza', 'cermy', 5.67);
INSERT 0 1
example_db=# INSERT INTO doughnut_list VALUES ('Edge', 'oily', 6.37);
INSERT 0 1
example_db=# SELECT * FROM doughnut_list;
  name  |  type  | price
--------+--------+-------
 Apple  | filled |  3.00
 Cherry | filled |  1.00
 Mazza  | cermy  |  5.67
 Edge   | oily   |  6.37
(4 rows)


example_db=# SELECT * FROM doughnut_list WHERE price != 1.00;
 name  |  type  | price
-------+--------+-------
 Apple | filled |  3.00
 Mazza | cermy  |  5.67
 Edge  | oily   |  6.37
(3 rows)


example_db=#

`example_db=# SELECT * FROM doughnut_list WHERE price != 1.00`

ifodasi

`example_db=# SELECT * FROM doughnut_list WHERE price <> 1.00`

ifodaga teng hisoblanadi.

3.00 qiymatdan yoki umuman bir qiymatdan katta qatorlarni saralash uchun `>` operatoridan foydalanamiz:

In [ ]:
example_db=# SELECT * FROM doughnut_list WHERE price > 3.00;
 name  | type  | price
-------+-------+-------
 Mazza | cermy |  5.67
 Edge  | oily  |  6.37
(2 rows)


example_db=#

Yuqoridagi operatorni teskarisi ham ishlaydi, bu `<` kichik operatori hisoblanadi.

In [ ]:
example_db=# SELECT * FROM doughnut_list WHERE price < 5.00;
  name  |  type  | price
--------+--------+-------
 Apple  | filled |  3.00
 Cherry | filled |  1.00
(2 rows)


example_db=#

Bundan tashqari katta yoki teng (`>=`) yoki kichik yoki teng (`<=`) larni ham ishlatishimiz mumkin.

Sonlardan tashqari harflarni ham solishtirishimiz mumkin, bunda uni alfabetga qarab olishtiradi.

Misol uchun:

In [ ]:
example_db=# SELECT * FROM doughnut_list WHERE type < 'f';


 name  | type  | price
-------+-------+-------
 Mazza | cermy |  5.67
(1 row)


example_db=#

Yuqorida `type` obyekti ichidagi so'zlarni (`cermy` ning bosh harfi `c`) ni olib taqqoslash uchun berilgan `f` bilan alifbodagi tartib raqami solishtiriladi.