`ALTER TABLE`

`ALTER TABLE` — bu SQL (Structured Query Language) operatori bo‘lib, mavjud jadval (table) tuzilmasini o‘zgartirish uchun ishlatiladi. U yordamida jadvalga yangi ustun (column) qo‘shish, ustunni o‘chirish, ustun nomini yoki tipini o‘zgartirish va boshqa strukturaviy o‘zgarishlar kiritish mumkin.

Bizda bor va `primary key`'si bo'lmagan jadvalga 'PRIMARY KEY' qo'shib ko'ramiz:

In [ ]:
example_db=# SELECT * FROM my_contacts;
 first_name |  last_name   | birthdate  | profession |       interests
------------+--------------+------------+------------+-----------------------
 Shahboz    | Shirinboyev  | 1999-12-03 | Designer   | Coding, Reading books
 Navroz     | Abdumurodov  | 1999-03-21 | quruvchi   | eating
 Javohir    | Abdurashidov | 1999-03-21 | quruvchi   | eating
 Umid       | Murodov      | 1998-12-08 | doctor     | Reading
 Jahongir   | Otajonov     | 1978-10-05 | doctor     | Cooking
 Tom        | Caliny       | 1960-12-23 | designer   | voleyball
 Tim        | Kalith       | 1980-11-11 | driver     | tenis
 Amirxon    | Umarov       | 1998-12-28 | electric   | eating
 Dilya      | Neymatova    | 2002-05-12 | modeller   | Coding
(9 rows)


example_db=#

Yuqoridagi jadvalga `id` ustunini qo'shib ko'ramiz, uni qilish uchun `ALTER TABEL` kalit so'zidan foydalanib ko'ramiz:

`ALTER TABLE my_contacts ADD COLUMN id SERIAL PRIMARY KEY;`

In [ ]:
example_db=# ALTER TABLE my_contacts ADD COLUMN id SERIAL PRIMARY KEY;
ALTER TABLE
example_db=#

In [ ]:
example_db=# SELECT * FROM my_contacts;
 first_name |  last_name   | birthdate  | profession |       interests       | id
------------+--------------+------------+------------+-----------------------+----
 Shahboz    | Shirinboyev  | 1999-12-03 | Designer   | Coding, Reading books |  1
 Navroz     | Abdumurodov  | 1999-03-21 | quruvchi   | eating                |  2
 Javohir    | Abdurashidov | 1999-03-21 | quruvchi   | eating                |  3
 Umid       | Murodov      | 1998-12-08 | doctor     | Reading               |  4
 Jahongir   | Otajonov     | 1978-10-05 | doctor     | Cooking               |  5
 Tom        | Caliny       | 1960-12-23 | designer   | voleyball             |  6
 Tim        | Kalith       | 1980-11-11 | driver     | tenis                 |  7
 Amirxon    | Umarov       | 1998-12-28 | electric   | eating                |  8
 Dilya      | Neymatova    | 2002-05-12 | modeller   | Coding                |  9
(9 rows)


example_db=#

Yuqoridagi jadvalga qaraydigan bo'lsak unga yangi `id` nomli `column` qo'shilganini ko'rishimiz mumkin.

Yana boshq 'phone' nomli ustun kiritib ko'ramiz:

`ALTER TABLE my_contacts ADD COLUMN phone VARCHAR(50);`

In [ ]:
example_db=# ALTER TABLE my_contacts ADD COLUMN phone VARCHAR(50);
ALTER TABLE
example_db=# SELECT * FROM my_contacts;
 first_name |  last_name   | birthdate  | profession |       interests       | id | phone
------------+--------------+------------+------------+-----------------------+----+-------
 Shahboz    | Shirinboyev  | 1999-12-03 | Designer   | Coding, Reading books |  1 |
 Navroz     | Abdumurodov  | 1999-03-21 | quruvchi   | eating                |  2 |
 Javohir    | Abdurashidov | 1999-03-21 | quruvchi   | eating                |  3 |
 Umid       | Murodov      | 1998-12-08 | doctor     | Reading               |  4 |
 Jahongir   | Otajonov     | 1978-10-05 | doctor     | Cooking               |  5 |
 Tom        | Caliny       | 1960-12-23 | designer   | voleyball             |  6 |
 Tim        | Kalith       | 1980-11-11 | driver     | tenis                 |  7 |
 Amirxon    | Umarov       | 1998-12-28 | electric   | eating                |  8 |
 Dilya      | Neymatova    | 2002-05-12 | modeller   | Coding                |  9 |
(9 rows)


example_db=#

Ana edi shu qatorlarni to'ldirib ko'ramiz:

In [ ]:
example_db=# UPDATE my_contacts SET phone = '+998930091166';
UPDATE 9
example_db=# SELECT * FROM my_contacts;
 first_name |  last_name   | birthdate  | profession |       interests       | id |     phone
------------+--------------+------------+------------+-----------------------+----+---------------
 Shahboz    | Shirinboyev  | 1999-12-03 | Designer   | Coding, Reading books |  1 | +998930091166
 Navroz     | Abdumurodov  | 1999-03-21 | quruvchi   | eating                |  2 | +998930091166
 Javohir    | Abdurashidov | 1999-03-21 | quruvchi   | eating                |  3 | +998930091166
 Umid       | Murodov      | 1998-12-08 | doctor     | Reading               |  4 | +998930091166
 Jahongir   | Otajonov     | 1978-10-05 | doctor     | Cooking               |  5 | +998930091166
 Tom        | Caliny       | 1960-12-23 | designer   | voleyball             |  6 | +998930091166
 Tim        | Kalith       | 1980-11-11 | driver     | tenis                 |  7 | +998930091166
 Amirxon    | Umarov       | 1998-12-28 | electric   | eating                |  8 | +998930091166
 Dilya      | Neymatova    | 2002-05-12 | modeller   | Coding                |  9 | +998930091166
(9 rows)


example_db=#

`Jadval NOMI'ni o'zgartirish:`

`ALTER TABLE my_contacts RENAME TO contacts;`

In [ ]:
example_db=# ALTER TABLE my_contacts RENAME TO contacts;
ALTER TABLE
example_db=#

In [ ]:
example_db=# SELECT * FROM contacts;
 first_name |  last_name   | birthdate  | profession |       interests       | id |     phone
------------+--------------+------------+------------+-----------------------+----+---------------
 Shahboz    | Shirinboyev  | 1999-12-03 | Designer   | Coding, Reading books |  1 | +998930091166
 Navroz     | Abdumurodov  | 1999-03-21 | quruvchi   | eating                |  2 | +998930091166
 Javohir    | Abdurashidov | 1999-03-21 | quruvchi   | eating                |  3 | +998930091166
 Umid       | Murodov      | 1998-12-08 | doctor     | Reading               |  4 | +998930091166
 Jahongir   | Otajonov     | 1978-10-05 | doctor     | Cooking               |  5 | +998930091166
 Tom        | Caliny       | 1960-12-23 | designer   | voleyball             |  6 | +998930091166
 Tim        | Kalith       | 1980-11-11 | driver     | tenis                 |  7 | +998930091166
 Amirxon    | Umarov       | 1998-12-28 | electric   | eating                |  8 | +998930091166
 Dilya      | Neymatova    | 2002-05-12 | modeller   | Coding                |  9 | +998930091166
(9 rows)


example_db=#

`column` nomlarini o'zgartirish:

`ALTER TABLE contacts RENAME phone TO phone_number;`

In [ ]:
example_db=# ALTER TABLE contacts RENAME phone TO phone_number;
ALTER TABLE
example_db=#

In [ ]:
example_db=# SELECT * FROM contacts;
 first_name |  last_name   | birthdate  | profession |       interests       | id | phone_number
------------+--------------+------------+------------+-----------------------+----+---------------
 Shahboz    | Shirinboyev  | 1999-12-03 | Designer   | Coding, Reading books |  1 | +998930091166
 Navroz     | Abdumurodov  | 1999-03-21 | quruvchi   | eating                |  2 | +998930091166
 Javohir    | Abdurashidov | 1999-03-21 | quruvchi   | eating                |  3 | +998930091166
 Umid       | Murodov      | 1998-12-08 | doctor     | Reading               |  4 | +998930091166
 Jahongir   | Otajonov     | 1978-10-05 | doctor     | Cooking               |  5 | +998930091166
 Tom        | Caliny       | 1960-12-23 | designer   | voleyball             |  6 | +998930091166
 Tim        | Kalith       | 1980-11-11 | driver     | tenis                 |  7 | +998930091166
 Amirxon    | Umarov       | 1998-12-28 | electric   | eating                |  8 | +998930091166
 Dilya      | Neymatova    | 2002-05-12 | modeller   | Coding                |  9 | +998930091166
(9 rows)


example_db=#

Table nomini o'zgartirish bilan jadvalni nomini o'zgartirishda farq bor biroz, shunda adashmasligimiz kerak:

`ALTER TABLE my_contacts RENAME TO contacts;` - jadval nomi o'zgartirish.


`ALTER TABLE contacts RENAME phone TO phone_number;` - column nomini o'zgartirish.

Bizdda bor bo'lgan `contacts` tableni tuzilmasini ko'rib olaylik:

In [ ]:
example_db=# \d contacts
                                        Table "public.contacts"
    Column    |          Type          | Collation | Nullable |                 Default
--------------+------------------------+-----------+----------+-----------------------------------------
 first_name   | character varying(50)  |           |          |
 last_name    | character varying(50)  |           |          |
 birthdate    | date                   |           |          |
 profession   | character varying(60)  |           |          |
 interests    | character varying(100) |           |          |
 id           | integer                |           | not null | nextval('my_contacts_id_seq'::regclass)
 phone_number | character varying(50)  |           |          |
Indexes:
    "my_contacts_pkey" PRIMARY KEY, btree (id)


example_db=#

`COLUMN` turini o'zgartirish: misol uchun yuqorida hozir `phone_number VARCHAR(50)` turibdi ekan shuni `VAARCHAR(60)`'ga o'zgartirishimiz kerak:

`ALTER TABLE contacts ALTER COLUMN phone_number TYPE VARCHAR(60);`

O'zgarishlarni ko'ramiz:

In [ ]:
example_db=# ALTER TABLE contacts ALTER COLUMN phone_number TYPE VARCHAR(60);
ALTER TABLE
example_db=#

Jadvalni tuzilmasini qayta ko'ramiz:

In [ ]:
example_db=# \d contacts
                                        Table "public.contacts"
    Column    |          Type          | Collation | Nullable |                 Default
--------------+------------------------+-----------+----------+-----------------------------------------
 first_name   | character varying(50)  |           |          |
 last_name    | character varying(50)  |           |          |
 birthdate    | date                   |           |          |
 profession   | character varying(60)  |           |          |
 interests    | character varying(100) |           |          |
 id           | integer                |           | not null | nextval('my_contacts_id_seq'::regclass)
 phone_number | character varying(60)  |           |          |
Indexes:
    "my_contacts_pkey" PRIMARY KEY, btree (id)


example_db=#

Agar jadvalni bironta ustuniga qiymatni kiritishni majburiy qilib qo'ysak, unda unday o'zgartirishni qanday kiritamiz jadvalga:

`ALTER TABLE contacts ALTER COLUMN phone_number SET NOT NULL;`

In [ ]:
example_db=# ALTER TABLE contacts ALTER COLUMN phone_number SET NOT NULL;
ALTER TABLE
example_db=#

Jadvalni o'zgartirishdan keyin ko'radigan bo'lsak:

In [ ]:
example_db=# \d contacts
                                        Table "public.contacts"
    Column    |          Type          | Collation | Nullable |                 Default
--------------+------------------------+-----------+----------+-----------------------------------------
 first_name   | character varying(50)  |           |          |
 last_name    | character varying(50)  |           |          |
 birthdate    | date                   |           |          |
 profession   | character varying(60)  |           |          |
 interests    | character varying(100) |           |          |
 id           | integer                |           | not null | nextval('my_contacts_id_seq'::regclass)
 phone_number | character varying(60)  |           | not null |
Indexes:
    "my_contacts_pkey" PRIMARY KEY, btree (id)


example_db=#

`COLUMN`'ni o'chirish:

`contacts` tabeliga yangi column qo'shamiz:

`ALTER TABLE contacts ADD COLUMN nickname VARCHAR(50);`

In [ ]:
example_db=# ALTER TABLE contacts ADD COLUMN nickname VARCHAR(50);
ALTER TABLE
example_db=# SELECT * FROM contacts;
 first_name |  last_name   | birthdate  | profession |       interests       | id | phone_number  | nickname
------------+--------------+------------+------------+-----------------------+----+---------------+----------
 Shahboz    | Shirinboyev  | 1999-12-03 | Designer   | Coding, Reading books |  1 | +998930091166 |
 Navroz     | Abdumurodov  | 1999-03-21 | quruvchi   | eating                |  2 | +998930091166 |
 Javohir    | Abdurashidov | 1999-03-21 | quruvchi   | eating                |  3 | +998930091166 |
 Umid       | Murodov      | 1998-12-08 | doctor     | Reading               |  4 | +998930091166 |
 Jahongir   | Otajonov     | 1978-10-05 | doctor     | Cooking               |  5 | +998930091166 |
 Tom        | Caliny       | 1960-12-23 | designer   | voleyball             |  6 | +998930091166 |
 Tim        | Kalith       | 1980-11-11 | driver     | tenis                 |  7 | +998930091166 |
 Amirxon    | Umarov       | 1998-12-28 | electric   | eating                |  8 | +998930091166 |
 Dilya      | Neymatova    | 2002-05-12 | modeller   | Coding                |  9 | +998930091166 |
(9 rows)


example_db=#

`nickname` column'ni qo'shdik va bizga u kerak bo'lmay qoldi uni olib tashlashimiz kerak:
Bu uchun:

`ALTER TABLE contacts DROP COLUMN nickname;`

In [ ]:
example_db=# ALTER TABLE contacts DROP COLUMN nickname;
ALTER TABLE
example_db=# SELECT * FROM contacts;
 first_name |  last_name   | birthdate  | profession |       interests       | id | phone_number
------------+--------------+------------+------------+-----------------------+----+---------------
 Shahboz    | Shirinboyev  | 1999-12-03 | Designer   | Coding, Reading books |  1 | +998930091166
 Navroz     | Abdumurodov  | 1999-03-21 | quruvchi   | eating                |  2 | +998930091166
 Javohir    | Abdurashidov | 1999-03-21 | quruvchi   | eating                |  3 | +998930091166
 Umid       | Murodov      | 1998-12-08 | doctor     | Reading               |  4 | +998930091166
 Jahongir   | Otajonov     | 1978-10-05 | doctor     | Cooking               |  5 | +998930091166
 Tom        | Caliny       | 1960-12-23 | designer   | voleyball             |  6 | +998930091166
 Tim        | Kalith       | 1980-11-11 | driver     | tenis                 |  7 | +998930091166
 Amirxon    | Umarov       | 1998-12-28 | electric   | eating                |  8 | +998930091166
 Dilya      | Neymatova    | 2002-05-12 | modeller   | Coding                |  9 | +998930091166
(9 rows)


example_db=#