`LIKE`, `BETWEEN` va `IN`

Bizda quyidagi jadval bor:

In [ ]:
example_db=# SELECT * FROM my_contacts;
 first_name |  last_name   | birthdate  | profession |       interests
------------+--------------+------------+------------+-----------------------
 Shahboz    | Shirinboyev  | 1999-12-03 | Designer   | Coding, Reading books
 Navroz     | Abdumurodov  | 1999-03-21 | quruvchi   | eating
 Javohir    | Abdurashidov | 1999-03-21 | quruvchi   | eating
 Umid       | Murodov      | 1998-12-08 | doctor     | Reading
 Jahongir   | Otajonov     | 1978-10-05 | doctor     | Cooking
 Amirxon    | Umarov       |            |            |
 Hayotxon   | Jalilov      |            |            |
 Dilya      | Neymatova    |            |            | Coding
(8 rows)


example_db=#

![alt text](image-null-notnull.png)

Jadvalda `null` qiymatiga ega bo'lgan ustunlar bor, ularni ajratib olish uchun quyidagicha komandalar kerak bo'ladi.

`SELECT * FROM my_contacts WHERE birthdate IS NULL;`

In [ ]:
example_db=# SELECT * FROM my_contacts WHERE birthdate IS NULL;
 first_name | last_name | birthdate | profession | interests
------------+-----------+-----------+------------+-----------
 Amirxon    | Umarov    |           |            |
 Hayotxon   | Jalilov   |           |            |
 Dilya      | Neymatova |           |            | Coding
(3 rows)


example_db=#

`null` qiymatga ega bo'lmagan ustunlarni ajratib olish uchun esa:

`SELECT * FROM my_contacts WHERE birthdate IS NOT NULL;`

example_db=# SELECT * FROM my_contacts WHERE birthdate IS NOT NULL;
 first_name |  last_name   | birthdate  | profession |       interests
------------+--------------+------------+------------+-----------------------
 Shahboz    | Shirinboyev  | 1999-12-03 | Designer   | Coding, Reading books
 Navroz     | Abdumurodov  | 1999-03-21 | quruvchi   | eating
 Javohir    | Abdurashidov | 1999-03-21 | quruvchi   | eating
 Umid       | Murodov      | 1998-12-08 | doctor     | Reading
 Jahongir   | Otajonov     | 1978-10-05 | doctor     | Cooking
(5 rows)


example_db=#

`my_contacts` jadvalidagi insonlarni `last_name`'mi `ov` bilan tugagan qatorlarni ro'yxati kerak bo'ldi, xo'sh buni qanday amalga oshiramiz:

`LIKE`

`SELECT * FROM my_contacts WHERE last_name LIKE '%ov';`

In [ ]:
example_db=# SELECT * FROM my_contacts;
 first_name |  last_name   | birthdate  | profession |       interests
------------+--------------+------------+------------+-----------------------
 Shahboz    | Shirinboyev  | 1999-12-03 | Designer   | Coding, Reading books
 Navroz     | Abdumurodov  | 1999-03-21 | quruvchi   | eating
 Javohir    | Abdurashidov | 1999-03-21 | quruvchi   | eating
 Umid       | Murodov      | 1998-12-08 | doctor     | Reading
 Jahongir   | Otajonov     | 1978-10-05 | doctor     | Cooking
 Amirxon    | Umarov       |            |            |
 Hayotxon   | Jalilov      |            |            |
 Dilya      | Neymatova    |            |            | Coding
(8 rows)


example_db=# SELECT * FROM my_contacts WHERE last_name LIKE '%ov';
 first_name |  last_name   | birthdate  | profession | interests
------------+--------------+------------+------------+-----------
 Navroz     | Abdumurodov  | 1999-03-21 | quruvchi   | eating
 Javohir    | Abdurashidov | 1999-03-21 | quruvchi   | eating
 Umid       | Murodov      | 1998-12-08 | doctor     | Reading
 Jahongir   | Otajonov     | 1978-10-05 | doctor     | Cooking
 Amirxon    | Umarov       |            |            |
 Hayotxon   | Jalilov      |            |            |
(6 rows)


example_db=#

Bu yerda `%` bu `ov`'dan avval bir yoki bir nechta harfdan iborat so'z borligini bildiradi.

`%`-ni istalgan tomonga qo'ysa bo'ladi. Masalan:

example_db=# SELECT * FROM my_contacts WHERE last_name LIKE 'A%';
 first_name |  last_name   | birthdate  | profession | interests
------------+--------------+------------+------------+-----------
 Navroz     | Abdumurodov  | 1999-03-21 | quruvchi   | eating
 Javohir    | Abdurashidov | 1999-03-21 | quruvchi   | eating
(2 rows)


example_db=#

example_db=# SELECT * FROM my_contacts WHERE interests LIKE 'eating%';
 first_name |  last_name   | birthdate  | profession | interests
------------+--------------+------------+------------+-----------
 Navroz     | Abdumurodov  | 1999-03-21 | quruvchi   | eating
 Javohir    | Abdurashidov | 1999-03-21 | quruvchi   | eating
(2 rows)


example_db=#

Yana boshqacharoq usulni ko'rib chiqamiz: ya'ni `first_name`'mi `T` bilan boshlanib `m` bilan tugaydigan, ismli shaxslarni jadvalini tuzamiz:

Avval to'liq jadvalni ko'rib o'tsak:

In [ ]:
example_db=# SELECT * FROM my_contacts;
 first_name |  last_name   | birthdate  | profession |       interests
------------+--------------+------------+------------+-----------------------
 Shahboz    | Shirinboyev  | 1999-12-03 | Designer   | Coding, Reading books
 Navroz     | Abdumurodov  | 1999-03-21 | quruvchi   | eating
 Javohir    | Abdurashidov | 1999-03-21 | quruvchi   | eating
 Umid       | Murodov      | 1998-12-08 | doctor     | Reading
 Jahongir   | Otajonov     | 1978-10-05 | doctor     | Cooking
 Amirxon    | Umarov       |            |            |
 Hayotxon   | Jalilov      |            |            |
 Dilya      | Neymatova    |            |            | Coding
 Tom        | Caliny       | 1960-12-23 | designer   | voleyball
 Tim        | Kalith       | 1980-11-11 | driver     | tenis
(10 rows)


example_db=#

Saralash:

`SELECT * FROM my_contacts WHERE first_name LIKE 'T%m';`

example_db=# SELECT * FROM my_contacts WHERE first_name LIKE 'T%m';
 first_name | last_name | birthdate  | profession | interests
------------+-----------+------------+------------+-----------
 Tom        | Caliny    | 1960-12-23 | designer   | voleyball
 Tim        | Kalith    | 1980-11-11 | driver     | tenis
(2 rows)

`NOT LIKE`

In [ ]:
example_db=# SELECT * FROM my_contacts WHERE last_name NOT LIKE '%ov';
 first_name |  last_name  | birthdate  | profession |       interests
------------+-------------+------------+------------+-----------------------
 Shahboz    | Shirinboyev | 1999-12-03 | Designer   | Coding, Reading books
 Dilya      | Neymatova   |            |            | Coding
 Tom        | Caliny      | 1960-12-23 | designer   | voleyball
 Tim        | Kalith      | 1980-11-11 | driver     | tenis
(4 rows)


example_db=#

`BETWEEN`

In [ ]:
example_db=# SELECT * FROM my_contacts;
 first_name |  last_name   | birthdate  | profession |       interests
------------+--------------+------------+------------+-----------------------
 Shahboz    | Shirinboyev  | 1999-12-03 | Designer   | Coding, Reading books
 Navroz     | Abdumurodov  | 1999-03-21 | quruvchi   | eating
 Javohir    | Abdurashidov | 1999-03-21 | quruvchi   | eating
 Umid       | Murodov      | 1998-12-08 | doctor     | Reading
 Jahongir   | Otajonov     | 1978-10-05 | doctor     | Cooking
 Amirxon    | Umarov       |            |            |
 Hayotxon   | Jalilov      |            |            |
 Dilya      | Neymatova    |            |            | Coding
 Tom        | Caliny       | 1960-12-23 | designer   | voleyball
 Tim        | Kalith       | 1980-11-11 | driver     | tenis
(10 rows)


example_db=# SELECt * FROM doughnut_list WHERE price > 5 AND price < 9;
 name  | type  | price
-------+-------+-------
 Mazza | cermy |  5.67
 Edge  | oily  |  6.37
(2 rows)


example_db=# SELECT * FROM my_contacts WHERE last_name LIKE '%ov';
 first_name |  last_name   | birthdate  | profession | interests
------------+--------------+------------+------------+-----------
 Navroz     | Abdumurodov  | 1999-03-21 | quruvchi   | eating
 Javohir    | Abdurashidov | 1999-03-21 | quruvchi   | eating
 Umid       | Murodov      | 1998-12-08 | doctor     | Reading
 Jahongir   | Otajonov     | 1978-10-05 | doctor     | Cooking
 Amirxon    | Umarov       |            |            |
 Hayotxon   | Jalilov      |            |            |
(6 rows)


example_db=#

`IN`

In [ ]:
example_db=# SELECT * FROM my_contacts;
 first_name |  last_name   | birthdate  | profession |       interests
------------+--------------+------------+------------+-----------------------
 Shahboz    | Shirinboyev  | 1999-12-03 | Designer   | Coding, Reading books
 Navroz     | Abdumurodov  | 1999-03-21 | quruvchi   | eating
 Javohir    | Abdurashidov | 1999-03-21 | quruvchi   | eating
 Umid       | Murodov      | 1998-12-08 | doctor     | Reading
 Jahongir   | Otajonov     | 1978-10-05 | doctor     | Cooking
 Amirxon    | Umarov       |            |            |
 Hayotxon   | Jalilov      |            |            |
 Dilya      | Neymatova    |            |            | Coding
 Tom        | Caliny       | 1960-12-23 | designer   | voleyball
 Tim        | Kalith       | 1980-11-11 | driver     | tenis
(10 rows)


example_db=# SELECT * FROM my_contacts WHERE profession = 'doctor' OR profession = 'driver' OR profession = 'designer';
 first_name | last_name | birthdate  | profession | interests
------------+-----------+------------+------------+-----------
 Umid       | Murodov   | 1998-12-08 | doctor     | Reading
 Jahongir   | Otajonov  | 1978-10-05 | doctor     | Cooking
 Tom        | Caliny    | 1960-12-23 | designer   | voleyball
 Tim        | Kalith    | 1980-11-11 | driver     | tenis
(4 rows)


example_db=# SELECT * FROM my_contacts WHERE profession IN ('doctor', 'driver', 'designer');
 first_name | last_name | birthdate  | profession | interests
------------+-----------+------------+------------+-----------
 Umid       | Murodov   | 1998-12-08 | doctor     | Reading
 Jahongir   | Otajonov  | 1978-10-05 | doctor     | Cooking
 Tom        | Caliny    | 1960-12-23 | designer   | voleyball
 Tim        | Kalith    | 1980-11-11 | driver     | tenis
(4 rows)


example_db=#

`IN`'ning qulay ishlatilinishi:

`SELECT * FROM my_contacts WHERE profession = 'doctor' OR profession = 'driver' OR profession = 'designer';`

`SELECT * FROM my_contacts WHERE profession IN ('doctor', 'driver', 'designer');`

`NOT IN`

In [ ]:
example_db=# SELECT * FROM my_contacts WHERE profession NOT IN ('doctor', 'driver', 'designer');
 first_name |  last_name   | birthdate  | profession |       interests
------------+--------------+------------+------------+-----------------------
 Shahboz    | Shirinboyev  | 1999-12-03 | Designer   | Coding, Reading books
 Navroz     | Abdumurodov  | 1999-03-21 | quruvchi   | eating
 Javohir    | Abdurashidov | 1999-03-21 | quruvchi   | eating
(3 rows)


example_db=#

Shu qiymatlarga teng bo'lmagan qatorlarni chiqaradi.

`NOT IN ('doctor', 'driver', 'designer')`