`null` va `default` qiymatlar:

`NULL`

Biz ma'lumot kiritish davomida ba'zi `cloumn`larga ma'lumot kirgizmasdan yangi ma'lumot qatorini kiritgandik va biz kiritmagan columnlar `null` qiymatini oladi.

masalan bizda quyidagi table bor:

In [ ]:
example_db=# \d my_contacts
                      Table "public.my_contacts"
   Column   |          Type          | Collation | Nullable | Default
------------+------------------------+-----------+----------+---------
 first_name | character varying(50)  |           |          |
 last_name  | character varying(50)  |           |          |
 birthdate  | date                   |           |          |
 profession | character varying(60)  |           |          |
 interests  | character varying(100) |           |          |

In [ ]:
INSERT INTO my_contacts (first_name, last_name) VALUES ('JAhongir', 'Otajonov');

![alt text](image-null.png)

`null` - hech qanday ma'lumot saqlanmayotganini bildiradi. `Hech narsa saqlanmaydi.`

> Ba'zi jadvallardagi `column`larni bunday `null` qiymat bilan saqlash mumkin bo'lmagan holatlarda, table yaratishda uning qiymati `null`'ga teng bo'lmasligi kerakligini aytib o'tamiz:

In [ ]:
CREATE TABLE my_contacts_two
(
  first_name VARCHAR(50) NOT NULL,
  last_name VARCHAR(50) NOT NULL,
  birthdate DATE
)

In [ ]:
example_db=# CREATE TABLE my_contacts_two
example_db-# (
example_db(#    first_name VARCHAR(50) NOT NULL,
example_db(#    last_name VARCHAR(50) NOT NULL,
example_db(#    birtdate DATE
example_db(# );
CREATE TABLE
example_db=#

Endi `first_name` va `last_name`'ni kiritish majburiy va birontasini kiritmasal quyidagicha xatolik kelib chiqadi:

In [ ]:
example_db=# INSERT INTO my_contacts_two (first_name) VALUES ('Gaybulla');
ERROR:  null value in column "last_name" of relation "my_contacts_two" violates not-null constraint
DETAIL:  Failing row contains (Gaybulla, null, null).
example_db=#

To'g'ri shaklda kiritamiz: `first_name`ni ham `last_name`ni ham:

In [ ]:
example_db=# INSERT INTO my_contacts_two (first_name, last_name) VALUES ('Gaybulla', 'Anvarjonov');
INSERT 0 1
example_db=#

![alt text](image-not_null.png)

In [ ]:
example_db=# \d my_contacts_two
                   Table "public.my_contacts_two"
   Column   |         Type          | Collation | Nullable | Default
------------+-----------------------+-----------+----------+---------
 first_name | character varying(50) |           | not null |
 last_name  | character varying(50) |           | not null |
 birtdate   | date                  |           |          |

example_db=#

`DEFAULT`

> Ba'zida `column`da qaysidur qiymatga teng bo'lgan ma'lumot saqlanadi. Bu `default value` deyiladi. Biz columnga biron qiymat kiritmasak ham u o'sha qiymatni oladi.

In [ ]:
CREATE TABLE doughnut_list
(
  name VARCHAR(50) NOT NULL,
  type VARCHAR(50) NOT NULL,
  price NUMERIC(3, 2) NOT NULL DEFAULT 1.00
);

TABLE yaratib unga ma'lumotlar kiritamiz:

In [ ]:
example_db=# CREATE TABLE doughnut_list (name VARCHAR(50) NOT NULL, type VARCHAR(50) NOT NULL, price NUMERIC(3, 2) NOT NULL DEFAULT 1.00);
CREATE TABLE
example_db=# INSERT INTO doughnut_list VALUES ('Apple', 'filled', 3.00);
INSERT 0 1
example_db=# INSERT INTO doughnut_list (name, type) VALUES ('Cherry', 'filled');
INSERT 0 1
example_db=#

2-ma'lumotni kiritishimizda `price`'ni bermadik va u default qilymatni oldi:

![alt text](image-dafault-value.png)

In [ ]:
example_db=# \d doughnut_list
                  Table "public.doughnut_list"
 Column |         Type          | Collation | Nullable | Default
--------+-----------------------+-----------+----------+---------
 name   | character varying(50) |           | not null |
 type   | character varying(50) |           | not null |
 price  | numeric(3,2)          |           | not null | 1.00

Yuqorida ko'rganimizdek `\d doughnut_list` komandasi orqali `not null` va `default`'ga ega qiymatlarni ko'rishimiz mumkin.