`SQL'da ma'lumot turlari`

In [ ]:
CREATE TABLE my_contacts
(
  last_name VARCHAR(50),
  first_name VARCHAR(50),
  email VARCHAR(50),
  birthday DATE,
  profession VARCHAR(30),
  location VARCHAR(60),
  status VARCHAR(20),
  interests VARCHAR(200),
  seeking VARCHAR(200)
);

`TEXT` (3 xil text ma'lumot turi mavjud.)

- VARCHAR
  - Limit bo'lganda ishlatilinadi: VARCHAR(10), VARCHAR(20)
  - Masalan: 'kitob', 'maktab', va 'hokazo'

- TEXT
  - Limit bo'lmaganda ishlatilinadi
  - Masalan: "Men 1999 - yilda tug'ulganman. Mening oilam 6 kishidan iborat. Ular ..."

- CHAR
  - VARCHAR bilan bir xil
  - Farqi har doim berilgan uzunlikdagi joyni oladi. Agar yetishmasa 'space' qo'shib qo'yadi.
  - CHAR(10): "kitob_____", "spiderman_" ... kabi

`INTEGER` (Butun sonlar uchun 3 xil ma'lumot turi mavjud.)

- INT
  - -2,147,483,648 dan 2,147,483,647 gacha

- SMALLINT
  - -32,768 dan 32,767 gacha

- BIGINT
  - -9,223,372,036,854,775,808 dan 9,223,372,036,854,775,807 gacha

`SERIAL`

> INT bilan bir xil lekin PostgreSQLning o'zi qiymatlarni avtomatik ravishda to'ldirib boradi. MySQLda buning eqvivalenti: AUTOINCREMENT

> `SMALLSERIAL`, `SERIAL`, `BIGSERIAL`

`Numeric`

- Misol uchun: 1234.56, 34.5, 189.568
- Ishlatish usuli:
  - numeric(5, 2): 123.45, 456.89, 123.467 -> 123.47
  - numeric(5): 12345, 45678
  - numeric: 1234, 12, 123457, 12312.123443434223

`Floating numbers`

> REAL (4 bytes)

> DOUBLE PRECISION (8 bytes)

> Ikkalasi ham quyidagicha raqamlar uchun ishlatiladi: 123.12, 4556.788


- Hisob kitob jarayoni bo'lsa `Numeric`, agar hisob kitob jarayoni olib borilmasa `REAL`, `DOUBLE PRECISION`

`Boolean` (True/False)

- True yoki False savollarga javob beruvchi columnlar uchun
- Masalan: is_married BOOLEAN

`Vaqt ma'lumot turlari`

- DATE - sanalar uchun: 2025-20-05
- TIME - vaqt uchun: 10:25:45
- TIMESTAMP - ham sana ham vaqt uchun: 2025-20-05 10:25:45

Yuqoridagi ma'lumot turlari 80% - 70% holatlarda ishlatilinadi.

`MASALAN`

- price
  - NUMERIC(6, 2)

- zip_code
  - VARCHAR(10)

- comments
  - TEXT

- quantity
  - INT

- book_title
  - VARCHAR(50)

- gender
  - CHAR(1)

- meeting_time
  - TIMESTAMP

- is_married
  - BOOLEAN